.header {
    padding: 30px 40px;
    margin-top: 0;
    background-color: white;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
    width: 30px;
    height: 30px;
}

.menu {
    margin-left: 250px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.menu-item a {
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.menu-item a:hover {
    border-bottom: 2px solid #000000;
    color: #000000;
}

