table {
    width: 100%;
    border-collapse: collapse; /* чтобы убрать двойные линии между ячейками */
}

table th, table td {
    width: 400px; /* или задайте фиксированное значение */
    text-align: left;
    padding: 10px;
}
